.Column {
  background-color: #D4D4D4;
  border-radius: 5px;
  width: 300px;
  margin-right: 24px;
  padding: 0 12px 8px;
  box-sizing: border-box;

  &Header {
    font: 15px Roboto;
    margin-bottom: 12px;
  }
}