


.EditCardForm {
  position: relative;

  &Header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #212934;
    border-radius: 2px;
    resize: none;
    padding: 8px 11px;
    border: none;
    width: 538px;
    background-color: transparent;

    &:focus {
      background: #FFFFFF;;
    }
  }
  
  &Text {
    width: 568px;
    height: 95px;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    resize: none;
    padding: 8px 11px;
    border: none;
    font: 15px Roboto;
    margin: 10px 0 15px;
  }

  &Close {
    position: absolute;
    right: -8px;
    top: 0;
  }
}
