.Button {
  height: 32px;
  border-radius: 3px;
  padding: 7px 12px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 100%;
  text-align: left;

  &Secondary {
    color: #626262;

    &:hover {
      background: #C4C4C4;
    }
  }

  &Primary {
    background: #0C7CD5;
    color: #FFFFFF;

    &[disabled] {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  &IconText {
    padding-left: 13px;
  }
}

.ButtonGroup {
  & *:not(:first-child) {
    margin-left: 5px;
  }
}