
.Modal {
  &Overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(63, 63, 63, 0.45);
  }

  &Content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #D4D4D4;
    border-radius: 5px;
    width: 600px;
    padding: 15px;
  }
}